body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}


.container {
    width: 80%;
    margin: 20px auto;
}

.blog-post {
    background-color: #fff;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post img {
    width: 30%;
    margin-right: 20px;
}

.blog-post-content {
    width: 70%;
}

.blog-post-title {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
}

.blog-post-meta {
    color: #999;
    margin: 0 0 10px;
}

.blog-post-tags {
    color: #555;
    margin: 0 0 10px;
}

.blog-post-desc {
    margin: 0 0 10px;
}


.read-more-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block; 
    width: fit-content;
}

.sidebar {
    float: right;
    width: 30%;
}

.sidebar-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-item ul li a {
    text-decoration: none; 
    color: #4a4a4a; 
    font-size: 16px;
    transition: color 0.3s;
}


.sidebar-item h4 {
    margin-top: 0;
}

.sidebar-item ul {
    list-style: none;
    padding: 0;
}

.sidebar-item ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.sidebar-item ul li:last-child {
    border-bottom: none;
}

.sidebar-item ul li img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.tag-list {
    padding: 0;
}

.tag-list li {
    display: inline;
    margin-right: 5px;
}

.tag {
    display: inline-block;
    background: #f9ebf5;
    padding: 5px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.main-content {
    float: left;
    width: 65%;
}

/* .search-bar {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
} */

.search-form {
    margin: 20px;
    display: flex;
}

.search-bar {
    padding: 8px;
    margin-right: 10px;
    width: 80%; 
    border: 2px solid #f7c7e2; /* Pinkish border */
}

.search-btn {
    padding: 10px 20px;
    background-color: #f7c7e2; /* Pinkish background */
    border: none;
    cursor: pointer;
    color: black;
}

.search-btn:hover {
    background-color: #e6b6d2;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .blog-post {
        flex-direction: row;
        align-items: start;
    }

    .blog-post img {
        width: 40%; 
        margin-right: 15px; 
    }

    .blog-post-content {
        width: 60%; 
    }
}


@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .blog-post {
        flex-direction: column;
    }

    .blog-post img {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blog-post-content {
        width: 100%;
    }

    .sidebar,
    .main-content {
        float: none;
        width: 100%;
    }


}

.recent-posts ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.recent-posts ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recent-posts ul li:last-child {
    margin-bottom: 0;
}

.recent-posts img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

.recent-posts a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

