*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
header {
    background-color: #f7c7e2; 
    color: black;
    padding: 20px 20px; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    padding: 0 15px;
    position: relative; 
}

.menu li a {
    color: black;
    text-decoration: none;
    display: block; 
}

.menu li.submenu ul {
    display: none;
    position: absolute;
    background-color: #f8c1e0;
    padding: 10px;
    list-style-type: none;
    margin-top: 5px;
    left: 0; 
    min-width: 200px;
}

.menu li.submenu:hover > ul,
.menu li.submenu ul:hover { 
    display: block;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
/*  cart   */
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #f8c1e0;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: black;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #f8c1e0;
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*   footer   */
.footer {
    background:#f7c7e2;
    color: black;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: black;
}
.footer h3{
    color: #fff;
    margin-bottom:20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.container-footer {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul{
    list-style-type: none;
}