* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

/* My Garden Container */
.my-garden-container {
    max-width: 1080px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.garden-header {
    text-align: center;
    margin-bottom: 30px;
}

.garden-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.garden-image {
    flex: 1;
}

.garden-image img {
    width: 100%;
    border-radius: 10px;
}

.garden-text {
    flex: 2;
}

.garden-text h2 {
    margin-bottom: 20px;
}

.garden-text p {
    margin-bottom: 10px;
}

.shop-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f7c7e2;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.shop-button:hover {
    background-color: #f8c1e0;
}

/* Sensors Container */
.sensors-container {
    max-width: 1080px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.sensor-panel {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sensor-panel h4 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    .garden-main {
        flex-direction: column;
        text-align: center;
    }

    .sensors-container {
        flex-direction: column;
        text-align: center;
    }

    .sensor-panel {
        margin-bottom: 20px;
    }
}
