body {
    max-width: 25cm;
    margin: auto;
    line-height: 1.5;
    font-family: "serif", "Times New Roman";
}

header>h1 {
    margin: 0;
    font-size: 40px;
    padding-top: 1em;
}

h1,
h2,
h3,
h4 {
    color: #671e6e;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

p,
li,
dl {
    font-size: 20px;
}   